<a href="https://colab.research.google.com/github/skim777/STAT1129/blob/main/STAT1129_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Question 1
n = 0
while n<10:
  print(n)
  n = n + 1
  if n == 5:
    break

0
1
2
3
4

In [50]:
#Question 2
n = 0
while n<5:
  print(n)
  n = n + 1
else:
  print(n, "is not less than 5")

0
1
2
3
4
5 is not less than 5

In [23]:
#Question 3
fruit = ["orange", "banana", "melon", "apple", "mango"]
for i in fruit:
  print("I like", i)
  if i == "apple":
    break

I like orange
I like banana
I like melon
I like apple

In [51]:
#Question 4
n = 0
sum = 0
while n < 30:
  n = n + 1
  sum = n + sum
print(sum)

465

In [32]:
#Question 5
score = 55
if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

F

In [49]:
#Question 6.1
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for k, v in marks.items():
  print(k, v)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [84]:
#Question 6.2
sum = 0
for i in marks.values():
  sum = sum + i
  average = sum / len(marks)

print(average)

75.2

In [109]:
#Question 6.3
for i in marks.keys():
    if 'J' in i:
      break
    print(i)

Andy
Amy

In [110]:
#Question 6.4
for i in marks.keys():
  if 'J' in i:
    continue
  print(i)

Andy
Amy
Arthur